body {
	font-family: sans-serif;
	}

.debug {
	border: 2px solid black;
	background: repeating-linear-gradient(
		45deg,
		orange,
		yellow 20px,
  		black 20px,
  		black 40px
		);
	display: none;
	}

.debugInside {
	background-color: white;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	}

#leftDiv {
	float: left;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 10vh;
	text-align: center;
}

.faceDiv {
	height: 40vw;
	width: 40vw;
	border: 3px solid black;
}

#rightDiv {
	float: left;
	height: 60vw;
	width: 40vw;
	margin-top: 10vh;
	overflow: scroll;
}

.controlsSectionDiv {
}

input {
	width: 20vw;
	margin-right: 2vw;
}

button {
	margin-top: 10px;
}

.characterClass {
	float: left;
	width: 10vw;
	margin: 1vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-bottom: 0.5vw;
}

#classWork {
	border: 0.5vw outset gold;
	background-color: #ffff55;
}

#classFight {
	border: 0.5vw outset red;
	background-color: pink;
}

#classPray {
	border: 0.5vw outset blue;
	background-color: lightblue;
}

.classDesc {
	font-size: 0.8em;
}