
.wrapper {
	margin-left: 5vw;
	margin-right: 5vw;
}

#leftDiv {
	float: left;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 10vh;
}

.faceDiv {
	height: 40vw;
	width: 40vw;
	border: 3px solid black;
}

#rightDiv {
	float: left;
	height: 60vw;
	width: 40vw;
	margin-top: 10vh;
	overflow: scroll;
}

.controlsSectionDiv {
}

input {
	width: 200px;
	margin-right: 20px;
}

button {
	margin-top: 10px;
}
