body {
	font-family: sans-serif;
	padding-top: 5vw;
	}

svg {
	height: 100%;
	width: 100%;
	}

.debug {
	border: 2px solid black;
	background: repeating-linear-gradient(
		45deg,
		orange,
		yellow 20px,
  		black 20px,
  		black 40px
		);
	display: none;
	}
	
.debugInside {
	background-color: white;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	}

#mainMenuDiv {
	background-color: maroon;
	color: white;
	height: 3vw;
	text-align: center;
	padding-top: 1vw;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	}

#titleHead {
	display: inline;
	padding-right: 15vw;
	}
	
#introDiv {
	width: 40vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	}
	
	


/* Levels */
	
#mapDiv {
	margin-left: auto;
	margin-right: auto;
	width: 90vw;
	height: 50vw;
	position: relative;
	overflow: auto;
	display: none;
	}
	
.mapOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	}

#mapBackgroundDiv {
	z-index: 1;
	}

#mapGridDiv {
	z-index: 2;
	}

#mapMobDiv {
	margin-left: auto;
	margin-right: auto;
	}

#mapBackgroundImg {
	width: 100%;
	height: 100%;
	}

.mapRow {
	clear: both;
	}

.mapTile {
	position: absolute;
	}

.tileCanvas {
	opacity = 0.3;
	}

.oddRowSpacer {
	float: left;
	}

.mobDiv {
	z-index: 4;
	position: absolute;
	transition: all .2s;
	}

.mobImg {
	height: 100%;
	}

.portraitImg {
	width: 100%;
	}

.bustImg {
	width: 100%;
	max-height: 10vw;
	}

.beamDiv {
	z-index: 3;
	position: absolute;
	border: 2px solid purple;
	}

.beamImg {
	transition: all .2s;
	}
	
.fogTile {
	z-index: 999;
	position: absolute;
	transition: opacity 1s;
	background-color: lightgray;
	background-image: url('img/fogPattern.jpg');
	background-size: contain;
	background-repeat: repeat;
	border-radius: 1vw;
	border: 3px dotted #666;
	opacity: 1;
	}

.hexCoords {
	z-index: 1000;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: .5em;
	background-color: rgba(255,255,255,0.3);
	display: none;
	}

#buttonRowDiv {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 75vw;
	text-align: right;
	display: none;
	}

#endTurnButton {
	}
	
#focusMobDiv {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 75vw;
	height: 25vw;
	overflow-y:auto;
	text-align: left;
	display: none;
	}

#focusMobImgDiv {
	float:left;
	width: 20vw;
	}

#focusMobDetailsDiv {
	}

#focusMobMoraleHead {
	display: inline;
	padding: .5vw;
	color: white;
	opacity: 0.75;
	}

#focusMobMoraleBar {
	background-color: red;
	border: 1px solid darkgray;
	width: 48vw;
	margin-left: 20.5vw;
	}

#focusMobMoralFillBlock {
	background-color: green;
	transition: all .2s;
	}

.focusMobStatDiv {
	float: left;
	margin: .5vw;
	padding: .5vw;
	text-align: center;
	width: 8vw;
	}

#focusMobMoveDiv {
	background-color: goldenrod;
	border: 2px solid yellow;
	color: yellow;
	}

#focusMobStrengthDiv {
	background-color: purple;
	border: 2px solid lavender;
	color: lavender;
	}

#focusMobFocusDiv {
	background-color: darkslateblue;
	border: 2px solid lightblue;
	color: lightblue;
	}

.bigStatSpan {
	font-size: 3em;
	font-weight: bold;
	}

.statNameSpan {
	font-weight: bold;
	}

.woundDiv {
	margin: .5vw;
	padding: .5vw;
	text-align: left;
	font-size: .8em;
	}

#focusMobManveuversDiv {
	float: left;
	margin: .5vw;
	width: 16vw;
	}

#focusMobManeuversList {
	list-style-position: inside;
	margin: 0;
	padding: 0;
	}

.focusMobManeuverButton {
	background-color:gray;
	border: 2px solid #777;
	color: lightgray;
	text-align: left;
	margin-bottom: .25vw;
	width: 100%;
	padding: 0.4vw;
	font-size: 0.8em;
	transition: all 0.25s;
	}

.focusMobManeuverButtonSelected {
	background-color: lightblue;
	color: #777;
	baseline-shift: sub;
	}

.focusMobManeuverButton:disabled {
	opacity: 0.4;
	}

.moveDotSpan {
	color: yellow;
	font-size: 0.6em;
	}

.strengthDotSpan {
	color: purple;
	font-size: 0.6em;
	}

.focusDotSpan {
	color: darkblue;
	font-size: 0.6em;
	}






/* Company Headquarters Stuff */

#companyHQDiv {
	display: none;
	padding-left: 5vw;
	padding-right: 5vw;
	float: left;
	width: 90%;
	position: relative;
	}

.tabDiv {
	float: left;
	height: 6vh;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-right: 2vw;
	margin-left: 1vw;
	border-radius: 10px 10px 0px 0px;
	}

.tabDiv h3 {
	padding-bottom: 0;
	}

#rumorsTabDiv {
	background-color: wheat;
	border-left: 0.5vw outset goldenrod;
	border-top: 0.5vw outset goldenrod;
	border-right: 0.5vw outset goldenrod;
	}

#rosterTabDiv {
	background-color: steelblue;
	border-left: 0.5vw outset darkblue;
	border-top: 0.5vw outset darkblue;
	border-right: 0.5vw outset darkblue;
	}

#provisioningTabDiv {
	background-color: lavender;
	border-left: 0.5vw outset purple;
	border-top: 0.5vw outset purple;
	border-right: 0.5vw outset purple;
	}

#adventuresTabDiv {
	background-color: seagreen;
	border-left: 0.5vw outset darkgreen;
	border-top: 0.5vw outset darkgreen;
	border-right: 0.5vw outset darkgreen;
	}

#HQWrapperDiv {
	clear:both;
	}

.HQPaneDiv {
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vw;
	float: left;
	}

.HQPaneSelectDiv {
	float:left;
	width: 12vw;
	height: 60vh;
	margin-right: 2vw;
	overflow-y: auto;
	}

.HQList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.HQItem {
	padding: 0.5vw;
	font-size: 0.9em;
	}

.HQPaneBigDiv {
	float:left;
	width: 60vw;
	height: 60vh;
	padding-left: 2vw;
	padding-right: 2vw;
	overflow-y: auto;
	}

#rumorsDiv {
	background-color: wheat;
	border: 0.5vw outset goldenrod;
	}

#newsListDiv {
	border: 0.5vw inset goldenrod;
	}
	
#newsList {
	}

.newsItem {
	}

.newsItem:nth-child(odd) {
	background-color: goldenrod;
	border: 0.25vw outset darkgoldenrod;
	}

.newsItem:nth-child(even) {
	background-color: papayawhip;
	border: 0.25vw outset peru;
	}

#newsDetailsDiv {
	border: 0.5vw inset goldenrod;
	}

#rosterDiv {
	background-color: steelblue;
	border: 0.5vw outset darkblue;
	display: none;
	}

.rosterHead {
	text-align: center;
	}

#rosterListDiv {
	border: 0.5vw inset darkblue;
	}

#rosterList {
	}

.rosterItem {
	}

.rosterItemWide {
	width: 26.75vw;
	background-color: lightsteelblue;
	border: 0.25vw outset steelblue;
	z-index: 10;
	}

.rosterItem:nth-child(odd) {
	background-color: lightsteelblue;
	border: 0.25vw outset steelblue;
	}

.rosterItem:nth-child(even) {
	background-color: lightblue;
	border: 0.25vw outset navy;
	}
	
#rosterDetailsDiv {
	float: left;
	width: 44vw;
	height: 60vh;
	margin-right: 2vw;
	border: 0.5vw inset darkblue;
	background-color: lightblue;
	position: relative;
	}

.rosterEquipDiv {
	border: 3px solid darkblue;
	width: 14vw;
	margin: 1vw;
	text-align: center;
	font-size: 0.8em;
	background-color: rgba(255, 255, 255, 0.4);
	}

#rosterPortraitDiv {
	height: 35vh;
	text-align: center;
	}

#rosterPortraitBackdropDiv {
	height: 35vh;
	width: 35vh;
	margin-left: auto;
	margin-right: auto;
	}

#rosterEquipArmorDiv {
	position: absolute;
	top: 16vh;
	left: 15vw;
	}

#rosterEquipRightDiv {
	position: absolute;
	top: 8vh;
	left: 8vw;
	}

#rosterEquipLeftDiv {
	position: absolute;
	top: 8vh;
	left: 22vw;
	}

#rosterEquipItem0Div {
	position: absolute;
	top: 25vh;
	left: 0vw;
	}

#rosterEquipItem1Div {
	position: absolute;
	top: 25vh;
	left: 14vw;
	}

#rosterEquipItem2Div {
	position: absolute;
	top: 25vh;
	left: 28vw;
	}

.rosterEquipEmpty {
	margin: 0.5vw;
	color: gray;
	}

#rosterStats {
	width: 100%;
	height: 3vh;
	}

.rosterStatDiv {
	float: left;
	padding: 0.5vw;
	width: 20%;
	margin-left: 8%;
	text-align: center;
	}

#rosterStatsMove {
	color: yellow;
	background-color: goldenrod;
	border: 2px solid yellow;
	}
	
#rosterStatsStrength {
	color: lavender;
	background-color: purple;
	border: 2px solid lavender;
	}

#rosterStatsFocus {
	color: lightblue;
	background-color: darkslateblue;
	border: 2px solid lightblue;
	}

#rosterManeuvers {
	width: 100%;
	height: calc(100% - 38vh);
	}

#rosterManeuversListDiv {
	width: 40%;
	height: 100%;
	float: left;
	}

#rosterManeuversList {
	padding-left: 20%;
	margin-top: 1vh;
	}

#rosterDescriptionDiv {
	background-color: gray;
	border: 1px solid #333;
	width: 41%;
	height: 80%;
	float: left;
	margin-left: 3vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vh;
	font-size: 0.8em;
	}

#rosterDescriptionDiv h4 {
	margin: 0;
	font-size: 1.2em;
	}

.rosterManeuverCostP {
	margin-left: 2vh;
	margin-top: 0;
	}
	
#armoryDiv {
	float: left;
	width: 14vw;
	height: 60vh;
	margin-right: 2vw;
	border: 0.5vw inset darkblue;
	background-color: lightblue;
	}

#armoryList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	
#trainingDiv {
	float: left;
	width: 15vw;
	height: 60vh;
	border: 0.5vw inset darkblue;
	background-color: lightblue;
	display: none;
	}

#trainingList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#provisioningDiv {
	background-color: lavender;
	border: 0.5vw outset purple;
	display: none;
	}
	
#provisioningListDiv {
	border: 0.5vw inset purple;
	}

#provisioningDetailsDiv {
	border: 0.5vw inset purple;
	}

.provisioningItem {
	}

.provisioningItem:nth-child(odd) {
	background-color: violet;
	border: 0.25vw outset darkviolet;
	}

.provisioningItem:nth-child(even) {
	background-color: mediumorchid;
	border: 0.25vw outset orchid;
	}

#marketProprietorDiv {
	float: left;
	}

#marketProprietorSVG {
	height: 16vw;
	width: 16vw;
	}

#marketDialogueDiv {
	float: left;
	width: 39vw;
	height: 12vw;
	padding: 2vw;
	}

#marketWaresDiv {
	clear: both;
	float: left;
	border: 0.5vw inset purple;
	width: 16vw;
	height: 20vw;
	overflow-y: scroll;
	}

#waresList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#adventuresDiv {
	background-color: seagreen;
	border: 0.5vw outset darkgreen;
	display: none;
	}

#adventuresSelectDiv {
	border: 0.5vw inset darkgreen;
	}

#adventuresDetailsDiv {
	border: 0.5vw inset darkgreen;
	background-color: lightgreen;
	}

#adventuresButtonsDiv {
	text-align: right;
	}
	
.adventuresItem {
	}

.adventuresItem:nth-child(odd) {
	background-color: olive;
	border: 0.25vw outset darkolivegreen;
	}

.adventuresItem:nth-child(even) {
	background-color: yellowgreen;
	border: 0.25vw outset greenyellow;
	}
	
/* Moving Items on Roster */

.divBoat {
	position: absolute;
	z-index: 10;
	width: 14vw;
	text-align: center;
	list-style-type: none;
}

.divBoatWide {
	position: absolute;
	z-index: 10;
	width: 27vw;
	text-align: center;
	list-style-type: none;
}






/* Dialogue Pop Up */

#dialogueBacksplash {
	display: none;
	position: fixed;
	z-index: 2000;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-animation-name: fadeIn;
	-webKit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
	}

#dialogueTray {
	position:fixed;
	bottom:0;
	margin-left: 20%;
	width: 60%;
	max-height: 70%;
	overflow-y: auto;
	-webkit-animation-name: slideIn;
	-webKit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	}
	}

@-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom:0; opacity: 1}
	}

@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
	}
	
@-webkit-keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
	}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
	}

.dialogueBustDiv {
	width: 10vw;
	height: 10vw;
	border: 5px solid green;
	background: white;
	}

#dialogueBustLeftDiv {
	float: left;
	margin-right: 2vw;
	}

#dialogueBustRightDiv {
	float: right;
	margin-left: 2vw;
	}

#dialogueTextDiv {
	background: white;
	border-top: 10px solid green;
	border-left: 10px solid green;
	border-right: 10px solid green;
	height: 100%;
	margin-top: 2.5vw;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	min-height: 10vw;
	padding: 2.5vw;
	text-align: left;
	font-size: 1.2em;
	}
	
.dialogueNameSpan {
	font-weight: bold;
	font-size: 1.5em;
	}

#dialogueCloseDiv {
	background: white;
	border-left: 10px solid green;
	border-right: 10px solid green;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	padding: 2.5vw;
	text-align: right;
	}
	
	
	
	
/* Character Creation */

#characterCreationDiv {
	height: 90vh;
	display: none;
}

#characterCreationFrame {
	border:0;
	width: 100%;
	height: 100%;
}

#characterCreationLeftDiv {
	float: left;
	margin-left: 5vw;
	margin-right: 5vw;
	text-align: center;
}

.faceDiv {
	height: 40vw;
	width: 40vw;
	border: 3px solid black;
}

#characterCreationRightDiv {
	float: left;
	height: 60vw;
	width: 40vw;
	overflow: scroll;
}

.controlsSectionDiv {
}

.controlsSectionDiv input {
	width: 20vw;
	margin-right: 2vw;
}

.controlsSectionDiv button {
	margin-top: 10px;
}

.characterClass {
	float: left;
	width: 10vw;
	margin: 1vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-bottom: 0.5vw;
}

#classWork {
	border: 0.5vw outset gold;
	background-color: #ffff55;
}

#classFight {
	border: 0.5vw outset red;
	background-color: pink;
}

#classPray {
	border: 0.5vw outset blue;
	background-color: lightblue;
}

.classDesc {
	font-size: 0.8em;
}

#characterCreationConfirmButtonDiv {
	clear: both;
}