body {
	font-family: sans-serif;
	cursor: default;
	text-align: center;
	}

#mainMenuDiv {
	text-align: left;
	}
	
#mapDiv {
	margin-left: auto;
	margin-right: auto;
	width: 75vw;
	height: 50vw;
	position: relative;
	overflow: scroll;
	}
	
.mapOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	}

#mapBackgroundDiv {
	z-index: 1;
	}

#mapGridDiv {
	z-index: 2;
	}

#mapMobDiv {
	}

#mapBackgroundImg {
	width: 100%;
	height: 100%;
	}

.mapRow {
	clear: both;
	}

.mapTile {
	position: absolute;
/* 	border: 1px dashed blue; */
	}

.tileCanvas {
	opacity = 0.3;
	}

.oddRowSpacer {
	float: left;
/* 	border: 1px dotted purple; */
	}

.mobDiv {
	z-index: 3;
	position: absolute;
	transition: all .2s;
	}

.mobImg {
	height: 100%;
	}
	
.fogTile {
	z-index: 999;
	position: absolute;
	transition: all 1s;
	background-color: lightgrey;
	opacity: 1;
	}

.hexCoords {
	z-index: 1000;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	display: none;
	}
	
#focusMobDiv {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 75vw;
	height: 25vw;
	overflow-y:scroll;
	text-align: left;
	}

#focusMobImg {
	float:left;
	width: 20vw;
	}

#focusMobDetailsDiv {
	}